.operational-hours-section {
    text-align: center;
}

.hours-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

    @media (min-width: $breakpoint-md) {
        font-size: 3rem;
    }
}

.hours-display {
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-accent;
    letter-spacing: 0.1em;

    display: inline-block;
    background-color: rgba($color-gray-dark, 0.7);
    padding: 1rem 2rem;

    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.2);

    @media (min-width: $breakpoint-md) {
        font-size: 1.875rem;
    }
}

.hours-subtitle {
    margin-top: 1rem;
    color: $color-gray-light;
}